/* google font imported via link */
@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Reddit Mono", sans-serif;
  --gradient-color: linear-gradient(to bottom, #485563, #29323c);
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--font-family);
  font-size: 120%;
}

header {
  background-image: var(--gradient-color);
  color: white;
  text-align: center;
  padding: 0.5rem 0rem;
}

header h1 {
  font-weight: 700;
}

form label {
  font-weight: 900;
}

.btn {
  background-image: var(--gradient-color);
  color: white;
}

.card-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-body h2 {
  font-weight: 900;
}

.card-text {
  font-weight: 600;
}

.card-text span {
  font-weight: 800;
}

.forecast-title {
  font-weight: 800;
}

.forecast-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.forecast-card {
  flex: 1 0 100%;
  background-image: var(--gradient-color);
  color: white;
}

@media only screen and (min-width: 768px) {
  .forecast-cards {
    flex-direction: row;
    gap: 1rem;
  }

  .forecast-card {
    flex: 1 0 45%;
  }
}

@media only screen and (min-width: 992px) {
  .forecast-card {
    flex: 1 0 30%;
  }
}
@media only screen and (min-width: 1250px) {
  .forecast-card {
    flex: 1 0 18%;
  }
}
